* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

body {  
  height: 100vh;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
  background-color: #222;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.025) 10%,
      transparent 0
    ),
    linear-gradient(#222, #000);
  background-size: 0.75em 100%, 100% 100%;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.7s;
  padding: 37px 80px;
  z-index:30;
  background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
}

header.sticky {
  padding: 7px 100px;
  background:#fff;
}

.logo {
  position: relative;
  font-weight: 700;
  text-decoration: none;
  font-size: 35px;
  letter-spacing: 1px;
  transition: 0.7s;
  font-family: "Great Vibes" !important;
  color: green;
}
.nav-bar{
    display:flex;
    z-index:20;
   
    font-weight: bold;
}
header nav ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li {
  position: relative;
  list-style: none;
}

header nav ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: tomato;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 700px;
  transition: 0.7s;
}

header nav ul li a:hover {
  border-bottom:2px solid tomato;
}
.login-btn{
  padding:13px;
  font-size:16px;
  background-color:transparent;
  color:tomato;
  border-radius: 5px;
  border:1px solid tomato;
  transition: all .5s;
}
.login-btn:hover{
  color:#fff;
  background-color:tomato
}
.container {
  position:relative;
}
h1{
  font-size:30px;
  font-weight: bold;
  text-align: center;
  margin-top:300px;
  color:#fff;
  position: absolute;
  top:10px;
  left:30px;
  z-index:3;
}

.wrapper {
  position: relative;
  flex-grow: 1;
  margin: auto; 
  max-width: 100%;
  max-height: 100vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2vmin;
  justify-items: center;
  align-items: center;
  
  overflow: scroll;
}

.image-item {
  z-index: 1;
  grid-column: span 2;
  max-width: 100%;
  margin-bottom: -52%;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  transform: scale(1);
  transition: all 0.15s;
  
}
.image-item:nth-child(7n + 1) {
  grid-column: 2 / span 2;
}

.image-item:hover {
  z-index: 2;
  transform: scale(1.5);  
  clip-path: inset(5% 0 15% 0);
}
