* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Raleway", serif;
}

header {
  position: fixed;
  background-color: #22242a;
  padding: 20px;
  width: 100%;
  height: 60px;
  z-index: 20;
}
.left-area h3 {
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
}

.left-area span {
  color: tomato;
}

.logout-btn {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: green;
  text-decoration: none;
  float: right;
  margin-top: -35px;
  margin-right: 40px;
  border-radius: 15px;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
  transition-property: background-color;
}

.logout-btn:hover {
  background-color: #fff;
  border: 1px solid tomato;
  color: tomato;
}

/* side bar */
.side-bar {
  background-color: #2f323a;
  margin-top: 60px;
  padding-top: 0px;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100vh;
  transition: all 0.5s;
}
.side-bar .profile_image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.side-bar h4 {
  color: #ccc;
  margin-top: 0;
  margin-bottom: 25px;
}

.side-bar a {
  color: #fff;
  display: block;
  width: 100%;
  line-height: 80px;
  text-decoration: none;
  padding-left: 40px;
  font-size: 20px;
  transition: all 0.5s;
}

.side-bar a:hover {
  background: tomato;
}
.side-bar i {
  padding-right: 5px;
  font-size: 30px;
}
label #sidebar_btn {
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 300px;
  font-size: 30px;
  margin: 5px 0;
  transition: all 0.5s;
}

label #sidebar_btn:hover {
  color: tomato;
}

#check:checked ~ .side-bar {
  left: -190px;
}

#check:checked ~ .side-bar a span {
  display: none;
}
#check:checked ~ .side-bar a {
  font-size: 20px;
  margin-left: 170px;
  width: 80px;
}
#check {
  display: none;
}

/* dashboard content */
.content {
  margin-left: 250px;
  height: 100vh;
}
#check:checked ~ .content {
  margin-left: 60px;
}
.top-container {
  padding-top: 80px;
  padding-left: 1%;
  display: flex;
  flex-wrap: wrap;
}

.add-photo-btn,
.submit-photo-btn {
  width: 200px;
  padding: 15px;
  font-family: "roboto condensed", sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: transparent;
  color: black;
  border-radius: 50px;
  border: 2px solid green;
  cursor: pointer;
  transition: transform 0.3s;
  margin-left: 1%;
  border-radius: 15px !important;
}
.add-photo-btn:hover,
.submit-photo-btn:hover {
  background: green;
  color: #fff;
  font-weight: bold;
}

/* search bar */
.wrapper {
  padding: 0 70px;
}
.wrapper .search_box {
  width: 500px;
  background: #fff;
  border-radius: 5px;
  height: 65px;
  display: flex;
  padding: 10px;
  box-shadow: 0 8px 6px -10px #b3c6ff;
}

.wrapper .search_box .dropdown {
  width: 100px;
  border-right: 2px solid #dde2f1;
  color: #9fa3b1;
  position: relative;
  cursor: pointer;
  z-index: 10;
}

.wrapper .search_box .dropdown .default_option {
  text-transform: uppercase;
  padding: 13px 15px;
  font-size: 14px;
}

.wrapper .search_box .dropdown ul {
  position: absolute;
  top: 70px;
  left: -10px;
  background: #fff;
  width: 100px;
  border-radius: 5px;
  padding: 20px;
  display: none;
  box-shadow: 8px 8px 6px -10px #b3c6ff;
}

.wrapper .search_box .dropdown ul.active {
  display: block;
}

.wrapper .search_box .dropdown ul li {
  padding-bottom: 20px;
}

.wrapper .search_box .dropdown ul li:last-child {
  padding-bottom: 0;
}

.wrapper .search_box .dropdown ul li:hover {
  color: #6f768d;
}

.wrapper .search_box .dropdown:before {
  content: "";
  position: absolute;
  top: 18px;
  right: 20px;
  border: 8px solid;
  border-color: tomato transparent transparent transparent;
}

.wrapper .search_box .search_field {
  width: 350px;
  height: 100%;
  position: relative;
}

.wrapper .search_box .search_field .input {
  width: 100%;
  height: 100%;
  border: 0px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 38px;
  color: #6f768d;
}

.wrapper .search_box .search_field .fa {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  color: tomato;
  cursor: pointer;
}

/* table list */
.table-container {
  margin-top: 450px;
  position: relative;
}
.table-container-category {
  margin-top: 300px;
  position: relative;
}
.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 16px;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: rgb(255, 206, 198);
  color: black;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 10px;
  text-align: center;
}
.content-table thead tr th {
  padding-top: 20px;
  padding-bottom: 20px;
}

.content-table td {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.content-table tbody tr {
  border-bottom: 1px solid rgb(238, 238, 238);
}

.content-table tbody tr:nth-of-type(even) {
  background-color: rgb(243, 240, 240);
}
.content-table tbody tr:last-of-type {
  border-bottom: tomato solid 1px;
}
.content-table img {
  padding: 10px 5px;
}
.fa-trash {
  font-size: 25px;
  font-weight: bold;
  color: tomato;
}
.edit-btn {
  font-size: 20px;
  font-weight: bold;
  outline: none;
  text-decoration: none;
  color: tomato;
}
/* add photo modal */
.bg-modal,
.bg-modal-edit,
.bg-modal-delete {
  opacity: 1;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.bg-modal-add-photo,
.bg-modal-edit-photo,
.bg-modal-delete-photo {
  margin-top: -540px;
}
.add-photo-modal-content,
.edit-photo-modal-content,
.delete-photo-modal-content {
  width: 800px;
  height: 600px;
  background: #fff;
  z-index: 12;
}
.add-photo-modal-content .container,
.edit-photo-modal-content .container,
.delete-photo-modal-content .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.add-photo-modal-content .top-container,
.edit-photo-modal-content .top-container,
.delete-photo-modal-content .top-container {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.add-photo-modal-content .top-container i,
.edit-photo-modal-content .top-container i,
.delete-photo-modal-content .top-container i {
  font-size: 50px;
  flex: 1 1 5%;
}
.add-photo-modal-content .top-container i:hover,
.edit-photo-modal-content .top-container i:hover,
.delete-photo-modal-content .top-container i:hover {
  color: tomato;
}
.add-photo-modal-content .container h1,
.edit-photo-modal-content .container h1,
.delete-photo-modal-content .container h1 {
  font-size: 30px;
  font-weight: bold;
  flex: 1 1 95%;
}
.add-photo-modal-content .container form,
.edit-photo-modal-content .container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}
.add-photo-modal-content .container form input,
.add-photo-modal-content .container form select,
.edit-photo-modal-content .container form input,
.edit-photo-modal-content .container form select {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.del-content {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.image-name,
.category-name {
  font-size: 18px;
  font-weight: 700px;
  margin: 10px;
}
.del-btn {
  margin-top: 35px;
  padding: 15px;
  background-color: transparent;
  border: 1px solid tomato;
  font-size: 18px;
  border-radius: 15px;
  transition: all 0.5s;
}

.del-btn:hover {
  background-color: tomato;
  color: #fff;
  border-radius: 15px;
}
